__pycache__/
iwslt2016/
logs/
cached_data
preprocessed_data
gpt/core*
gpt/data/
gpt/checkpoint
gpt/megatron_lm_345m_v0.0.zip
gpt/debug_*
gpt/scripts/debug_*
gpt/core_python_*
gpt/lhy.txt
gpt/lhy_symbolic_train_ds.py
gpt/nsight/
*.swp
